.main__body {
  margin: 50px 0;
}

.main .panel__cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main .panel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 470px;
  height: 240px;
  border-radius: 8px;
  transition: .2s;
  background: #3F90D6;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
}

.main .panel__item svg {
  margin-top: 20px;
  fill: #fff;
  width: 48px;
  height: 48px;
}

.main .panel__item:hover {
  background: #2E587C;
}

.main .stats__body h1 {
  margin: 50px 0;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #212121;
}

.main .stats__cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main .stats__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 470px;
  height: 120px;
  border-radius: 8px;
  transition: .2s;
  background: #3FD6A0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.main .stats__item svg {
  margin-top: 20px;
  fill: #fff;
  width: 48px;
  height: 48px;
}

.main .stats__item:hover {
  background: #227e5e;
}

@media screen and (max-width: 1440px) {
  .main .panel__cards, .main .stats__cards {
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .main .panel__item {
    width: calc(470px / 1.2);
    height: calc(240px / 1.2);
  }
  .main .stats__item {
    width: calc(470px / 1.2);
    height: calc(120px / 1.2);
  }
}

@media screen and (max-width: 768px) {
  .main .panel__item {
    width: calc(470px / 1.4);
    height: calc(240px / 1.4);
    font-size: 18px;
  }
  .main .stats__item {
    width: calc(470px / 1.4);
    height: calc(120px / 1.4);
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .main .panel__item {
    width: 100%;
    height: calc(240px / 1.4);
    font-size: 18px;
  }
  .main .stats__item {
    width: 100%;
    height: calc(120px / 1.4);
  }
}
