@{
    ViewData["Title"] = "Главная страница сайта";
}

<h1>Главная страница сайта</h1>
@*<br />
@Video.Silverlight(
    path:"Movies/sample.xap",
    width: "400",
    height:"600",
    play: false,
    loop:true,
    menu:false,
    bgColor:"red",
    quality:"medium",
    scale: "exactfit",
    windowMode:"transparent")*@