@{
    ViewData["Title"] = ">Admin Panel";
}
<header class="header" id="header">
    <div class="header__wrapper">
        <div class="container">
            <div class="header__body">
                <div class="header__logo">
                    <a href="/">Админ панель</a>
                </div>
                <nav class="nav">
                    <a href="/">Главная</a>
                    <a href="/registration">регистрация</a>
                    <a href="/login">Вход</a>
                </nav>
                <div class="header__exit">
                    <a href="#">Выйти</a>
                </div>
                <div class="burger__menu">
                    <div class="burger__line">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="coming" id="coming">
        <div class="coming__wrapper">
            <div class="container">
                <div class="coming__body">
                    <h1>Админ Панель</h1>
                    <p>Добро пожаловать панель управление</p>
                </div>
            </div>
        </div>
    </section>

    <section class="main" id="main">
        <div class="main__wrapper">
            <div class="container">
                <div class="main__body">
                    <div class="panel__body">
                        <div class="panel__cards">
                            <a class="panel__item" href="#">
                                Добавить товар
                            </a>
                            <a class="panel__item" href="#">
                                Редактировать товар
                            </a>
                            <a class="panel__item" href="#">
                                Удалить товар
                            </a>
                        </div>
                    </div>
                    <div class="stats__body">
                        <h1>Стастистика</h1>
                        <div class="stats__cards">
                            <div class="stats__item">
                                <p>Новостей: 105</p>
                            </div>
                            <div class="stats__item">
                                <p>Категории: 7</p>
                            </div>
                            <div class="stats__item">
                                <p>Пользователей: 105</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>